{% extends 'index_admin.html' %}

{% block title %}О нас - Цитатник.ру{% endblock %}

{% block authorizaton %}
<a href="/user_moderation">Модерация пользователей</a>
<a href="/create_quote">Добавить цитату</a>
<a href="/favourite">Избранное</a>
<a href="/logout">Выход</a>
{% endblock %}

{% block main %}
<div class="about">
    <p>Выполнил: ст. гр. ИВТ-211 Петров Д.В.</p><br>
    <p>Проверил: ст. пр. Анатольев А.Г.</p><br>
    <p>ОМГТУ 2024г.</p><br>
    <p>Все права защищены (нет)</p><br>
</div>
{% endblock %}