{% extends 'index.html' %}

{% block title %}Цитатник.ру{% endblock %}

{% block authorizaton %}
<a href="/create_quote">Добавить цитату</a>
<a href="/favourite">Избранное</a>
<a href="/logout">Выход</a>
{% endblock %}

{% block main %}
<div class="filters">
    <form action="#" method="get">
        <label><b>Поиск</b></label><br><br>
      <label>Персонаж</label><br>
        <input type="text">
      <br>
      <label>Произведение</label><br>
        <input type="text">
      <br>
        <label>Автор</label><br>
        <input type="text">
        <br>
        <label>Текст цитаты</label><br>
        <textarea></textarea><br>
        <input type="submit" value="Найти", id="subm_filter">
    </form>
</div>
<div class="content">
    {% for quote in quotes %}
        <div class="quote">
            <p class="quote-txt">{{quote.text}}</p>
            <div class="quote-nav-block">
                <div>
                    {% if quote.character != None %}
                        <strong class="quote-nav"><a href="#">{{quote.character}}</a></strong>
                    {% endif %}
                    {% if quote.composition != None %}
                        <strong class="quote-nav"><a href="#">{{quote.composition}}</a></strong>
                    {% endif %}
                    <strong class="quote-nav"><a href="#">{{quote.author}}</a></strong>
                </div>
                <button class="favourite"></button>
            </div>
        </div>
    {% endfor %}
</div>
<div class="right">
    <div class="random_quote">
        <div class="text_random_quote">
            <b>Случайная цитата</b>
        </div>
        <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
        <div class="autor_random_quote">
            <button class="favourite"></button>
            <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
        </div>
    </div>
    <br><br>
    <div class="top10">
        <div class="text_random_quote">
            <b>Топ 10 цитат</b>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}