{% extends 'index_admin.html' %}

{% block title %}Цитатник.ру{% endblock %}

{% block authorizaton %}
<a href="/user_moderation">Модерация пользователей</a>
<a href="/create_quote">Добавить цитату</a>
<a href="/favourite">Избранное</a>
<a href="/logout">Выход</a>
{% endblock %}

{% block main %}
<div class="content">
    {% for quote in quotes %}
        <div class="quote">
            <p class="quote-txt">{{quote.text}}</p>
            <div class="quote-nav-block">
                <div>
                    {% if quote.character != None %}
                        <strong class="quote-nav"><a href="/filter/character/{{quote.character}}">{{quote.character}}</a></strong>
                    {% endif %}
                    {% if quote.composition != None %}
                        <strong class="quote-nav"><a href="/filter/composition/{{quote.composition}}">{{quote.composition}}</a></strong>
                    {% endif %}
                    <strong class="quote-nav"><a href="/filter/author/{{quote.author}}">{{quote.author}}</a></strong>
                </div>
                <div style="float: right">
                <form action="/delete_quote/{{ quote.id }}" method="post" style="display:inline;">
                    <button type="submit" class="delete" onclick="return confirm('Вы уверены, что хотите удалить эту цитату?');"></button>
                </form>
            <a href="/edit_quote/{{ quote.id }}">
                <button class="edit"></button>
            </a>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="right">
    <div class="right_top">
        <div class="text_random_quote">
            <b>Случайная цитата</b>
        </div>
        <p class="quote_mini">{{rand_quote.text}}</p>
        <div class="autor_random_quote">
            <button class="favourite"></button>
            {% if rand_quote.character != None %}
            <strong class="quote-nav-mini"><a href="/filter/character/{{rand_quote.character}}">{{rand_quote.character}}</a></strong>
            {% else %}
            <strong class="quote-nav-mini"><a href="/filter/author/{{rand_quote.author}}">{{rand_quote.author}}</a></strong>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="right_bottom">
        <div class="text_random_quote">
            <b>Топ 10 цитат</b>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
        <div class="mini_quote">
            <p class="quote_mini">Никто не скажет, верно ты поступил или нет, пока не столкнешься с последствиями.</p>
            <div class="autor_random_quote">
                <button class="favourite"></button>
                <strong class="quote-nav-mini"><a href="#">Леви Аккерман</a></strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}