{% extends 'index.html' %}

{% block title %}Добавление цитаты - Цитатник.ру{% endblock %}

{% block authorizaton %}
<a href="/create_quote">Добавить цитату</a>
<a href="/favourite">Избранное</a>
<a href="/logout">Выход</a>
{% endblock %}

{% block main %}
<div class="form_create">
    <form method="post" action="/">
        <label><b>Поиск</b></label><br><br>
      <label>Персонаж</label><br>
        <input type="text" name="character" id="character">
      <br>
      <label>Произведение</label><br>
        <input type="text" name="composition" id="composition">
      <br>
        <label>Автор</label><br>
        <input type="text" name="author" id="author">
        <br>
        <label>Текст цитаты</label><br>
        <textarea name="txt" id="txt"></textarea><br>
        <input type="submit" value="Найти">
    </form>
</div>
{% endblock %}